@import url('normalize.css');
@import url('@radix-ui/themes/styles.css');

html,
body {
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

#role-visualization {
  order: initial;

  @media only screen and (width >= 768px) {
    position: sticky;
    top: 1em;
    order: 2;
  }
}
