@import url('normalize.css');
@import url('@radix-ui/themes/styles.css');

h1.rt-Heading,
h2.rt-Heading {
  font-family: var(--font-sinkin-sans), var(--default-font-family);
  font-weight: 800;
}

.dark, .dark-theme {
  --yellow-1: #4f4c45;
  --yellow-2: #524e44;
  --yellow-3: #5f5439;
  --yellow-4: #6b5729;
  --yellow-5: #735c25;
  --yellow-6: #7a6430;
  --yellow-7: #89713a;
  --yellow-8: #9f823f;
  --yellow-9: #ffc400;
  --yellow-10: #f4ba00;
  --yellow-11: #ffd33d;
  --yellow-12: #fee7b5;

  --yellow-a1: #fc4d002c;
  --yellow-a2: #ff57002f;
  --yellow-a3: #fe6d003f;
  --yellow-a4: #ff71004d;
  --yellow-a5: #ff7b0057;
  --yellow-a6: #fd8c0060;
  --yellow-a7: #fd9f0072;
  --yellow-a8: #ffaf0c8c;
  --yellow-a9: #ffc400;
  --yellow-a10: #ffc000f2;
  --yellow-a11: #ffd33d;
  --yellow-a12: #ffe8b6fe;

  --yellow-contrast: #2a2009;
  --yellow-surface: #79500b80;
  --yellow-indicator: #ffc400;
  --yellow-track: #ffc400;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --yellow-1: oklch(41.7% 0.0123 86.55);
      --yellow-2: oklch(42.4% 0.0173 86.55);
      --yellow-3: oklch(44.9% 0.0425 86.55);
      --yellow-4: oklch(46.6% 0.069 86.55);
      --yellow-5: oklch(48.5% 0.0784 86.55);
      --yellow-6: oklch(51.4% 0.0758 86.55);
      --yellow-7: oklch(55.9% 0.079 86.55);
      --yellow-8: oklch(62.1% 0.0932 86.55);
      --yellow-9: oklch(85% 0.1739 86.55);
      --yellow-10: oklch(81.8% 0.1739 86.55);
      --yellow-11: oklch(89.4% 0.1692 86.55);
      --yellow-12: oklch(93.5% 0.0695 86.55);

      --yellow-a1: color(display-p3 1 0.3255 0 / 0.133);
      --yellow-a2: color(display-p3 0.9961 0.3765 0 / 0.148);
      --yellow-a3: color(display-p3 1 0.4627 0 / 0.206);
      --yellow-a4: color(display-p3 1 0.4863 0 / 0.26);
      --yellow-a5: color(display-p3 1 0.5373 0 / 0.295);
      --yellow-a6: color(display-p3 1 0.6078 0 / 0.329);
      --yellow-a7: color(display-p3 1 0.6745 0 / 0.402);
      --yellow-a8: color(display-p3 1 0.7294 0.098 / 0.505);
      --yellow-a9: color(display-p3 1 0.8 0.2588 / 0.956);
      --yellow-a10: color(display-p3 1 0.7882 0.2275 / 0.902);
      --yellow-a11: color(display-p3 1 0.851 0.3569 / 0.966);
      --yellow-a12: color(display-p3 1 0.9255 0.7412 / 0.976);

      --yellow-contrast: #2a2009;
      --yellow-surface: color(display-p3 0.4314 0.3137 0.0627 / 0.5);
      --yellow-indicator: oklch(85% 0.1739 86.55);
      --yellow-track: oklch(85% 0.1739 86.55);
    }
  }
}

.list-none {
  list-style: none;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

#role-visualization {
  order: initial;

  @media only screen and (width >= 768px) {
    position: sticky;
    top: 1em;
    order: 2;
  }
}
