name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  biome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./.github/actions/setup
      - run: yarn biome ci .

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./.github/actions/setup
      - run: yarn typecheck

  build:
    runs-on: ubuntu-latest
    needs: [biome, typecheck]
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./.github/actions/setup
      - run: yarn build
